In [6]:
from tsai.all import *

/Users/diab/Desktop/japan_re/venv38/lib/python3.8/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [7]:
Monash_forecasting_list

['m1_yearly_dataset',
 'm1_quarterly_dataset',
 'm1_monthly_dataset',
 'm3_yearly_dataset',
 'm3_quarterly_dataset',
 'm3_monthly_dataset',
 'm3_other_dataset',
 'm4_yearly_dataset',
 'm4_quarterly_dataset',
 'm4_monthly_dataset',
 'm4_weekly_dataset',
 'm4_daily_dataset',
 'm4_hourly_dataset',
 'tourism_yearly_dataset',
 'tourism_quarterly_dataset',
 'tourism_monthly_dataset',
 'nn5_daily_dataset_with_missing_values',
 'nn5_daily_dataset_without_missing_values',
 'nn5_weekly_dataset',
 'cif_2016_dataset',
 'kaggle_web_traffic_dataset_with_missing_values',
 'kaggle_web_traffic_dataset_without_missing_values',
 'kaggle_web_traffic_weekly_dataset',
 'solar_10_minutes_dataset',
 'solar_weekly_dataset',
 'electricity_hourly_dataset',
 'electricity_weekly_dataset',
 'london_smart_meters_dataset_with_missing_values',
 'london_smart_meters_dataset_without_missing_values',
 'wind_farms_minutely_dataset_with_missing_values',
 'wind_farms_minutely_dataset_without_missing_values',
 'car_parts_dataset_with_missing_values',
 'car_parts_dataset_without_missing_values',
 'dominick_dataset',
 'fred_md_dataset',
 'traffic_hourly_dataset',
 'traffic_weekly_dataset',
 'pedestrian_counts_dataset',
 'hospital_dataset',
 'covid_deaths_dataset',
 'kdd_cup_2018_dataset_with_missing_values',
 'kdd_cup_2018_dataset_without_missing_values',
 'weather_dataset',
 'sunspot_dataset_with_missing_values',
 'sunspot_dataset_without_missing_values',
 'saugeenday_dataset',
 'us_births_dataset',
 'australian_electricity_demand_dataset',
 'solar_4_seconds_dataset',
 'solar_power',
 'wind_4_seconds_dataset',
 'wind_power',
 'rideshare_dataset_with_missing_values',
 'rideshare_dataset_without_missing_values',
 'temperature_rain_dataset_with_missing_values',
 'temperature_rain_dataset_without_missing_values',
 'bitcoin_dataset_without_missing_values',
 'bitcoin_dataset_with_missing_values',
 'vehicle_trips_dataset_without_missing_values',
 'vehicle_trips_dataset_with_missing_values']

In [11]:
get_Monash_regression_list()

['AppliancesEnergy',
 'AustraliaRainfall',
 'BeijingPM10Quality',
 'BeijingPM25Quality',
 'BenzeneConcentration',
 'Covid3Month',
 'FloodModeling1',
 'FloodModeling2',
 'FloodModeling3',
 'HouseholdPowerConsumption1',
 'HouseholdPowerConsumption2',
 'IEEEPPG',
 'LiveFuelMoistureContent',
 'NewsHeadlineSentiment',
 'NewsTitleSentiment']

In [8]:
long_term_forecasting_list

['ETTh1',
 'ETTh2',
 'ETTm1',
 'ETTm2',
 'electricity',
 'exchange_rate',
 'traffic',
 'weather',
 'ILI']

In [9]:
get_UCR_univariate_list()

['ACSF1',
 'Adiac',
 'AllGestureWiimoteX',
 'AllGestureWiimoteY',
 'AllGestureWiimoteZ',
 'ArrowHead',
 'Beef',
 'BeetleFly',
 'BirdChicken',
 'BME',
 'Car',
 'CBF',
 'Chinatown',
 'ChlorineConcentration',
 'CinCECGTorso',
 'Coffee',
 'Computers',
 'CricketX',
 'CricketY',
 'CricketZ',
 'Crop',
 'DiatomSizeReduction',
 'DistalPhalanxOutlineAgeGroup',
 'DistalPhalanxOutlineCorrect',
 'DistalPhalanxTW',
 'DodgerLoopDay',
 'DodgerLoopGame',
 'DodgerLoopWeekend',
 'Earthquakes',
 'ECG200',
 'ECG5000',
 'ECGFiveDays',
 'ElectricDevices',
 'EOGHorizontalSignal',
 'EOGVerticalSignal',
 'EthanolLevel',
 'FaceAll',
 'FaceFour',
 'FacesUCR',
 'FiftyWords',
 'Fish',
 'FordA',
 'FordB',
 'FreezerRegularTrain',
 'FreezerSmallTrain',
 'Fungi',
 'GestureMidAirD1',
 'GestureMidAirD2',
 'GestureMidAirD3',
 'GesturePebbleZ1',
 'GesturePebbleZ2',
 'GunPoint',
 'GunPointAgeSpan',
 'GunPointMaleVersusFemale',
 'GunPointOldVersusYoung',
 'Ham',
 'HandOutlines',
 'Haptics',
 'Herring',
 'HouseTwenty',
 'InlineSkate',
 'InsectEPGRegularTrain',
 'InsectEPGSmallTrain',
 'InsectWingbeatSound',
 'ItalyPowerDemand',
 'LargeKitchenAppliances',
 'Lightning2',
 'Lightning7',
 'Mallat',
 'Meat',
 'MedicalImages',
 'MelbournePedestrian',
 'MiddlePhalanxOutlineAgeGroup',
 'MiddlePhalanxOutlineCorrect',
 'MiddlePhalanxTW',
 'MixedShapesRegularTrain',
 'MixedShapesSmallTrain',
 'MoteStrain',
 'NonInvasiveFetalECGThorax1',
 'NonInvasiveFetalECGThorax2',
 'OliveOil',
 'OSULeaf',
 'PhalangesOutlinesCorrect',
 'Phoneme',
 'PickupGestureWiimoteZ',
 'PigAirwayPressure',
 'PigArtPressure',
 'PigCVP',
 'PLAID',
 'Plane',
 'PowerCons',
 'ProximalPhalanxOutlineAgeGroup',
 'ProximalPhalanxOutlineCorrect',
 'ProximalPhalanxTW',
 'RefrigerationDevices',
 'Rock',
 'ScreenType',
 'SemgHandGenderCh2',
 'SemgHandMovementCh2',
 'SemgHandSubjectCh2',
 'ShakeGestureWiimoteZ',
 'ShapeletSim',
 'ShapesAll',
 'SmallKitchenAppliances',
 'SmoothSubspace',
 'SonyAIBORobotSurface1',
 'SonyAIBORobotSurface2',
 'StarLightCurves',
 'Strawberry',
 'SwedishLeaf',
 'Symbols',
 'SyntheticControl',
 'ToeSegmentation1',
 'ToeSegmentation2',
 'Trace',
 'TwoLeadECG',
 'TwoPatterns',
 'UMD',
 'UWaveGestureLibraryAll',
 'UWaveGestureLibraryX',
 'UWaveGestureLibraryY',
 'UWaveGestureLibraryZ',
 'Wafer',
 'Wine',
 'WordSynonyms',
 'Worms',
 'WormsTwoClass',
 'Yoga']

In [10]:
get_UCR_multivariate_list()

['ArticularyWordRecognition',
 'AtrialFibrillation',
 'BasicMotions',
 'CharacterTrajectories',
 'Cricket',
 'DuckDuckGeese',
 'EigenWorms',
 'Epilepsy',
 'ERing',
 'EthanolConcentration',
 'FaceDetection',
 'FingerMovements',
 'HandMovementDirection',
 'Handwriting',
 'Heartbeat',
 'InsectWingbeat',
 'JapaneseVowels',
 'Libras',
 'LSST',
 'MotorImagery',
 'NATOPS',
 'PEMS-SF',
 'PenDigits',
 'PhonemeSpectra',
 'RacketSports',
 'SelfRegulationSCP1',
 'SelfRegulationSCP2',
 'SpokenArabicDigits',
 'StandWalkJump',
 'UWaveGestureLibrary']

In [1]:
datasets = [
    "Monash_forecasting_list",
    "long_term_forecasting_list",
    "get_UCR_univariate_list",
    "get_UCR_multivariate_list",
    "get_Monash_regression_list",
    "get_forecasting_list",
]

dataset_fns = [
    "get_UCR_data",
    "get_Monash_regression_data",
    "get_forecasting_time_series",
    "get_Monash_forecasting_data",
    "get_long_term_forecasting_data",
]

In [22]:
get_Monash_forecasting_data()

TypeError: get_Monash_forecasting_data() missing 1 required positional argument: 'dsid'

In [53]:
dataset = "ArrowHead"

X= get_UCR_data(dataset)

In [54]:
# pd.DataFrame(X)
X

(memmap([[[-1.9630089, -1.957825 , -1.9561449, ..., -1.9053929,
           -1.9239049, -1.9091529]],

         [[-1.7745713, -1.7740359, -1.7765863, ..., -1.729227 ,
           -1.7756704, -1.7893245]],

         [[-1.8660212, -1.8419912, -1.8350253, ..., -1.8625124,
           -1.8633682, -1.8464925]],

         ...,

         [[-2.130812 , -2.1044297, -2.074755 , ..., -2.0340977,
           -2.0800314, -2.103448 ]],

         [[-1.8803376, -1.8626622, -1.8496866, ..., -1.8485336,
           -1.8640342, -1.8798851]],

         [[-1.80105  , -1.7989155, -1.7783754, ..., -1.7965491,
           -1.7985443, -1.80105  ]]], dtype=float32),
 memmap(['0', '1', '2', '0', '1', '2', '0', '1', '2', '0', '1', '2', '0',
         '1', '2', '0', '1', '2', '0', '1', '2', '0', '1', '2', '0', '1',
         '2', '0', '1', '2', '0', '1', '2', '0', '1', '2'], dtype='<U1'),
 memmap([[[-1.9077772, -1.9048903, -1.8885626, ..., -1.9062717,
           -1.9241205, -1.9250983]],

         [[-1.8298551, -1.8084973, -1.7957773, ..., -1.8034416,
           -1.8431565, -1.8275166]],

         [[-1.8015625, -1.7757344, -1.7284861, ..., -1.7302192,
           -1.7715144, -1.7799731]],

         ...,

         [[-1.6032789, -1.5873654, -1.5774074, ..., -1.6030858,
           -1.6053821, -1.6055967]],

         [[-1.7390199, -1.7415336, -1.7328633, ..., -1.6998703,
           -1.7131186, -1.7281761]],

         [[-1.6307269, -1.6299183, -1.6205558, ..., -1.5815763,
           -1.5952728, -1.6207831]]], dtype=float32),
 memmap(['0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
         '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
         '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
         '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
         '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0',
         '0', '0', '0', '0', '1', '1', '1', '1', '1', '1', '1', '1', '1',
         '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
         '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
         '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
         '1', '1', '1', '1', '1', '2', '2', '2', '2', '2', '2', '2', '2',
         '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2',
         '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2',
         '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2',
         '2', '2', '2', '2', '2', '2'], dtype='<U1'))

,dim_0,class_val
0,"0 -1.963009 1 -1.957825 2 -1.956145 3 -1.938289 4 -1.896657 ... 246 -1.841345 247 -1.884289 248 -1.905393 249 -1.923905 250 -1.909153 Length: 251, dtype: float64",0
1,"0 -1.774571 1 -1.774036 2 -1.776586 3 -1.730749 4 -1.696268 ... 246 -1.639989 247 -1.678683 248 -1.729227 249 -1.775670 250 -1.789324 Length: 251, dtype: float64",1
2,"0 -1.866021 1 -1.841991 2 -1.835025 3 -1.811902 4 -1.764390 ... 246 -1.829069 247 -1.875828 248 -1.862512 249 -1.863368 250 -1.846493 Length: 251, dtype: float64",2
3,"0 -2.073758 1 -2.073301 2 -2.044607 3 -2.038346 4 -1.959043 ... 246 -1.951247 247 -2.012927 248 -2.026963 249 -2.073405 250 -2.075292 Length: 251, dtype: float64",0
4,"0 -1.746255 1 -1.741263 2 -1.722741 3 -1.698640 4 -1.677223 ... 246 -1.716886 247 -1.740726 248 -1.743442 249 -1.762729 250 -1.763428 Length: 251, dtype: float64",1
...,...,...
206,"0 -1.625142 1 -1.622988 2 -1.626062 3 -1.610799 4 -1.568567 ... 246 -1.567998 247 -1.597641 248 -1.623653 249 -1.622988 250 -1.624174 Length: 251, dtype: float64",2
207,"0 -1.657757 1 -1.664673 2 -1.632645 3 -1.611002 4 -1.591838 ... 246 -1.678613 247 -1.666825 248 -1.667466 249 -1.681769 250 -1.678613 Length: 251, dtype: float64",2
208,"0 -1.603279 1 -1.587365 2 -1.577407 3 -1.556043 4 -1.531201 ... 246 -1.577493 247 -1.585284 248 -1.603086 249 -1.605382 250 -1.605597 Length: 251, dtype: float64",2
209,"0 -1.739020 1 -1.741534 2 -1.732863 3 -1.722299 4 -1.698109 ... 246 -1.636495 247 -1.669889 248 -1.699870 249 -1.713118 250 -1.728176 Length: 251, dtype: float64",2
210,"0 -1.630727 1 -1.629918 2 -1.620556 3 -1.607832 4 -1.579719 ... 246 -1.513637 247 -1.550431 248 -1.581576 249 -1.595273 250 -1.620783 Length: 251, dtype: float64",2

In [2]:
from sktime.datasets import load_UCR_UEA_dataset, load_forecastingdata

df, meta = load_forecastingdata(name="kaggle_web_traffic_dataset_without_missing_values", return_type="pd_multiindex_hier")

In [3]:
df

                        series_value
series_name timestamp
T1          2015-07-01          18.0
            2015-07-02          11.0
            2015-07-03           5.0
            2015-07-04          13.0
            2015-07-05          14.0
...                              ...
T145063     2017-09-06           2.0
            2017-09-07           7.0
            2017-09-08           6.0
            2017-09-09          10.0
            2017-09-10           3.0

[116485589 rows x 1 columns]